@media screen and (max-width: 320px) { @viewport { width: 320px; } }

:root {
  --background-color: black;
  /* --font-color: black; */
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

body {
  background-color: var(--background-color);
}

.btn {
  width: auto;
  height: auto;
  border-radius: 30px;

}

#close-image img {
  display: block;
  height: 130px;  
  width: 100px;
}

.container {
  height: 200px;
  position: relative;
  border: 3px;
  padding-top: 20%;
}

.img1 {
  border-radius: 30px;
  width: 500px;
  height: 200px;
  position: relative;
  top: auto;
  visibility: hidden;
}