:root {
  --background-color: black;
  --button-color: white;
  --btn-hover-color: white;
}

html, body {
  background: var(--background-color);
  display: block;
  width: 100%;
  margin: 0 0;
  padding: 0 0;
}

a {
  text-decoration: none;
  color: var(--button-color);
}

section {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.toggle {
  font-size: 300px;
}

i:hover {
  text-shadow: 0 0 35px var(--btn-hover-color);
}
